body {
  --bg-primary: #814256;

  --body-bg-color: #faf6ea;
  --body-bg-color-light: #fffdf8;
  --header-bg-color: #814256;

  --button-secondary-bg-color: #faebc7;

  --footer-bg-color: var(--body-bg-color-light);
}
